extends ../shared/template

block content



        .about-chimeras
          .container
              .row
                .col-md-4
                  .thumbnail
                    img(src='/img/about1.jpg')
                  .thumbnail
                    img(src='/img/about2.jpg')
                .col-md-4
                  .thumbnail
                    img(src='/img/about3.jpg')
                  .thumbnail
                    img(src='/img/about4.jpg')
                .col-md-4
                h2 About Chimeras
                  p The term chimera has come to describe any mythical or fictional animal with parts taken from various animals, or to describe anything composed of very disparate parts, or perceived as wildly imaginative or implausible.
                  p Our Chimeras are born from imagination, then brought to life by sketch before entering our factory to be released into the world.
